//!----------- google font import -----------
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

//!----------- scss style -----------
@import './config';
@import './responsive';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 14px;
}

body {
  font-family: 'Poppins', sans-serif;
  color: $gray-g700;
  background-color: $white;
}

//!----------- custom container -----------
.container {
  max-width: 1320px;
  margin: 0 auto;
}

//!----------- text capitalize -----------
.capitalize {
  text-transform: capitalize;
}

//!----------- custom font size -----------
.text-12 {
  font-size: 12px;
}

.text-14 {
  font-size: 14px;
}

.text-16 {
  font-size: 16px;
}

.text-18 {
  font-size: 18px;
}

//!----------- custom text color -----------
.text-gray-g50 {
  color: $gray-g50;
}
.text-gray-g100 {
  color: $gray-g100;
}
.text-gray-g200 {
  color: $gray-g200;
}
.text-gray-g300 {
  color: $gray-g300;
}
.text-gray-g400 {
  color: $gray-g400;
}
.text-gray-g500 {
  color: $gray-g500;
}
.text-gray-g600 {
  color: $gray-g600;
}
.text-gray-g700 {
  color: $gray-g700;
}
.text-gray-g800 {
  color: $gray-g800;
}
.text-gray-g900 {
  color: $gray-g900;
}
b

//!----------- custom background color -----------
.bg-primary {
  background-color: $primary !important;
}
.bg-gray-g50 {
  background-color: $gray-g50;
}
.bg-gray-g100 {
  background-color: $gray-g100;
}
.bg-gray-g200 {
  background-color: $gray-g200;
}
.bg-gray-g300 {
  background-color: $gray-g300;
}
.bg-gray-g400 {
  background-color: $gray-g400;
}
.bg-gray-g500 {
  background-color: $gray-g500;
}
.bg-gray-g600 {
  background-color: $gray-g600;
}
.bg-gray-g700 {
  background-color: $gray-g700;
}
.bg-gray-g800 {
  background-color: $gray-g800;
}
.bg-gray-g900 {
  background-color: $gray-g900;
}

//!----------- custom buttons -----------
.btn {
  display: inline-block;
  padding: 16px 40px;
  border-radius: 48px;
  font-weight: 600;
  text-transform: capitalize;
  cursor: pointer;
  font-size: 18px;
  box-shadow:
    rgba(0, 0, 0, 0.19) 0px 10px 20px,
    rgba(0, 0, 0, 0.23) 0px 6px 6px;

  &--primary {
    background-color: $primary;

    &:hover {
      background-color: darken($primary, 5);
    }

    svg {
      stroke: $white;
      stroke-width: 2px;
    }
  }

  &--white {
    color: $primary;
    background-color: $white;

    &:hover {
      color: $white;
      background-color: $primary;

      svg {
        stroke: $white;
      }
    }

    svg {
      stroke: $primary;
      stroke-width: 2px;
    }
  }
}

//!----------- section styles -----------
.section {
  margin: 60px auto;
}
